---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/projects/ProjectCard";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
  <section id="projects" class="container container-large flex-col mt-lg mb-lg mx-auto">
    <h1 class="text-3xl font-bold mb-md">Projects</h1>

    <div class="grid grid-col--3">
      {
        projects.map((project) => (
          <ProjectCard
            client:load
            title={project.data.title}
            description={project.data.description}
            imageUrl={project.data.imageUrl.src}
            tags={project.data.tags}
            liveUrl={project.data.liveUrl}
            githubUrl={project.data.githubUrl}
            postUrl={`/projects/${project.slug}`}
          />
        ))
      }
    </div>
  </section>
</Layout>
