---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard";

const projects = await getCollection("projects");
console.log("Projects found:", projects.length);
---

<Layout>
  <section id="projects" class="container">
    <div class="projects-grid">
      {
        projects.map(
          (project: {
            data: {
              title: string;
              description: string;
              link: string;
              imageUrl: string;
              tags?: string[];
              liveUrl?: string;
              githubUrl?: string;
            };
          }) => (
            <ProjectCard
              client:load
              title={project.data.title}
              description={project.data.description}
              link={project.data.link}
              imageUrl={project.data.imageUrl}
              tags={project.data.tags}
              liveUrl={project.data.liveUrl}
              githubUrl={project.data.githubUrl}
            />
          ),
        )
      }
    </div>
  </section>
</Layout>
